<div>
	<h1>错误率： <%= ( @err_count.to_f / @total_count.to_f ) * 100 %>%</h1>

	<p>单词总数：<%= @total_count %> 错误数：<%= @err_count %></p>

	<%= link_to '返回', recite_tasks_path, :class => "btn btn-success full-width" %>

</div>